* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}


.hero {
    display: flex;
    background-color: #1a1a1b;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding-bottom: 100px;
}

.hero-style {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.header-logo {
    color: #880808;
    font-size: 24px;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.72);
    font-weight: 700;
    font-family: 'Metal Mania', cursive;
}

.scroll-bar {
    border: inset rgb(0, 0, 0) 3px;
    display: flex;
    gap: 16px;
    font-weight: 400;
    padding: 4px 8px;
}

.h-link a {
    text-decoration: none;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.72);
    color: #dddddd;
    font-size: 18px;
}

.h-link a:hover {
    border: inset rgb(0, 0, 0) 0px;
    font-style: italic;
    font-weight: 600;
    text-shadow: 2px 2px 3px darkred;
    text-decoration: underline;
    color: #000000;
}

.hero-cabin {
    align-items: center;
    margin-top: 100px;
    display: flex;
    width: 80%;
}

.hero-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}

.h-heading {
    font-size: 36px;
    font-family: 'Metal Mania', cursive;
    font-weight: 800;
    color: darkviolet;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.829);
}

.h-parag {
    text-align: start;
    font-size: 26px;
    font-weight: 650;
    color: rgb(255, 255, 255);
    font-family: 'Metal', cursive;
}

.h-button {
    background-color: #000000;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.h-button a {
    text-decoration: none;
    color: white;
}

.h-button:hover {
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.h-button:hover a {
    color: rgb(0, 0, 0);
}

.h-image {
    flex: 1;
}

.h-image img {
    width: 100%;
    border: solid rgb(56, 0, 0) 8px;
    border-radius: 10px;
    box-shadow: 15px 20px 51px 0px rgba(20, 0, 20, 1);
}

.slide {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.slide-show {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 70%;
}

.gallery {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    /* flex-direction: row; */
}

.gallery .photo {
    flex: 1;
}

.photo img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: solid #28282B 6px;
    box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.75);
}

.photo p {
    margin-top: 20px;
    text-align: center;
}

.slide-show h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 0;
}

.text {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    gap: 8px;
}

.text #name {
    text-align: end;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

.pop {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.pop-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1769ee;
    padding: 50px 150px;
    border-radius: 12px;
    width: 80%;
}

.pop-t h4 {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.pop-t p {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.i-button {
    border: solid #f9faf8 2px;
    padding: 10px 40px;
    border-radius: 5px;
}

.i-button a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.i-button:hover a {
    color: yellow;
}

.i-button:hover {
    border-color: yellow;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #28282B;
    font-size: 18px;
}

.footer p {
    color: #E5E7EB;
}

.footer a {
    color: rgb(192, 0, 0);
    text-decoration: none;
    font-weight: 600;
}