* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F6EE;
}


.hero {
    display: flex;
    background-color: #000000;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding-bottom: 75px;
}

.hero-style {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    max-width: 1600px;
}


.header-logo {
    color: #880808;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgb(53, 53, 53);
    font-weight: 700;
    font-family: 'Metal Mania', cursive;
}


.header-logo h1:hover {
    color: darkviolet;
    text-shadow: 2px 2px 4px rgb(202, 202, 202);
}

.header-image {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}


.header-image img {
    border: solid #880808 2px;
    padding: 5px;
    border-radius: 25px;
    flex: 0;
    width: 35%;
}

.scroll-bar {
    border: inset rgb(255, 255, 255) 3px;
    border-radius: 12px;
    display: flex;
    gap: 16px;
    font-weight: 400;
    padding: 4px 8px;
}

.h-link a {
    text-decoration: none;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.72);
    color: #dddddd;
    font-size: 18px;
}

.h-link a:hover {
    border: inset rgb(0, 0, 0) 0px;
    font-style: italic;
    font-weight: 600;
    text-shadow: 3px 3px 3px rgb(99, 0, 0);
    text-decoration: none;
    color: #880808;
}

.hero-cabin {
    align-items: center;
    margin-top: 75px;
    display: flex;
    width: 80%;
}

.hero-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}

.h-heading {
    font-size: 36px;
    font-family: 'Metal Mania', cursive;
    font-weight: 800;
    color: darkviolet;
    text-shadow: 2px 2px 4px rgb(202, 202, 202);
}


.h-heading h2:hover {
    color: darkred;
    text-shadow: 2px 2px 4px rgb(202, 202, 202);
}

.h-parag {
    text-align: start;
    font-size: 26px;
    font-weight: 450;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.h-parag p {
    margin-top: 15px;
    gap: 12px 0;
}

.h-button {
    margin-top: 15px;
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
}

.h-button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.h-button:hover {
    background-color: darkviolet;
    text-decoration: none;
    cursor: pointer;
}

.h-button:hover a {
    color: rgb(255, 255, 255);
}

.h-image {
    flex: 1;
}

.h-image img {
    width: 100%;
    border: solid #280e2a 2px;
    border-radius: 12px;
    box-shadow: 15px 20px 51px 0px rgb(49, 0, 49);
}

.slide {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: -20px;
}

.slide-show {
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 1440px;
}

.gallery {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
}

.gallery .photo {
    flex: 1;
}

.photo img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: solid #000000 4px;
    border-radius: 12px;
    box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.75);
}

.photo p {
    margin-top: 12px;
    font-weight: 650;
    font-size: 18px;
    text-align: center;
    font-family: 'Metal', cursive;
}

.slide-show h3 {
    font-size: 36px;
    font-weight: 800;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.72);
    color: #000000;
    font-family: 'Metal Mania', cursive;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 40px 0;
}

.text {
    font-family: 'Metal Mania', cursive;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 70%;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #cccccc;
    gap: 8px;
}

.text p:hover {
    color: darkred;
    text-shadow: 5px 5px 7px rgb(99, 0, 0);
}

.text #name:hover {
    text-decoration: none;
    color: #cccccc;
    text-shadow: none;
}

.text #name {
    font-family: 'Metal', cursive;
    text-align: end;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    padding-top: 25px;
}

.pop {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.pop-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 50px 150px;
    border-radius: 12px;
    width: 80%;
    max-width: 1440px;
}

.pop-t h4 {
    font-family: 'Metal Mania', cursive;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.pop-t p {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.i-button {
    border: solid #f9faf8 2px;
    padding: 10px 40px;
    border-radius: 5px;
}

.i-button a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.i-button:hover a {
    color: rgba(255, 0, 0, 0.966);
}

.i-button:hover {
    border-color: rgb(255, 0, 0);
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: #000000;
    font-size: 18px;
}

.footer p {
    color: #E5E7EB;
}

.footer a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.footer a:hover {
    color: red;
    text-shadow: 5px 5px 7px rgb(136, 0, 0);
}

.pop-img {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: black;

}

.pop-img img {
    width: 40%;
}